<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Gdig.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <Gdig.Properties.Settings>
      <setting name="dnsTypes" serializeAs="String">
        <value>A;AAAA;CNAME;MX;NS;PTR;CERT;SRV;TXT;SOA</value>
      </setting>
      <setting name="dnsTypesIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="nameServers" serializeAs="String">
        <value>114 -&gt; 114.114.114.114:53;DNSPOD -&gt; 119.29.29.29:53;阿里云 -&gt; 223.5.5.5:53;TUNA -&gt; 101.6.6.6:53;GOOGLE -&gt; 8.8.8.8:53</value>
      </setting>
      <setting name="nameServersIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="tcp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="noCache" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="autoClear" serializeAs="String">
        <value>True</value>
      </setting>
    </Gdig.Properties.Settings>
  </userSettings>
</configuration>